.nav {
  height: 50px;
  font-size: 30px;
  padding: 5px 0;
  background:	#ee1515;
  font-family: 'Bubblegum Sans';
  font-size: 27px;
}

.guess {
  background:#f0f0f0;
  font-size: 25px;
  margin-bottom: 5px;
}